@charset "utf-8";
/* CSS Document */

.top-bar{width: 100%; hieght: 50px; line-height: 50px}
.top-bar a{color: white}
.top-bar a:hover{color: #FFC113}

.navbar .narbar-nav .nav-item .nav-link{ padding: 10px 20px}
.navbar .narbar-nav .nav-item .nav-link:hover {color: #056CB6}

.navbar .navbar-nav .nav-item .dropdown-menu{background-color: #056CB6; padding-top:0; padding-bottom: 0; border-radius: 0}

.navbar .navbar-nav .nav-item .dropdown-menu li {border-bottom: 1px solid #494949}
.navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item{color: white}
.navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover{background-color: #ffc113}

main{width: 100%; min-height: 500px}

.underline{border-bottom: 2px solid #FFC113}
footer .navbar-nar .nav-item .nav-link:hover {color: #FFC113}
footer a {color: white}
footer a:hover{color: #FFC113}
.copyrights{width: 100%; min-height: 50px; line-height: 50px; font-size: 14px}

#services a {text-decoration: none}
#services a:hover {color:#FFC113}
#why-choose-us {margin-top: 60px}
.why-background {width: 100%; min-height: 500px; background-image: url("../images/why.jpg"); background-size: cover; background-repeat: no-repeat; background-position: right}
.why-content{width: 50%; min-height: 500px}

#galery button:hover{background-color: #FFC113; color: white; border: none}
#news a {text-decoration: none}
#news a:hover{color: #FFC113}

#appointment button:hover{background-color: #FFC113; color: white; border: none} 
.feedback-content{width: 700px; min-height: 300px}


#banner button:hover{background-color: #FFC113; color: white; border: none}
.register-background {width: 100%; min-height: 400px; background-image: url("../images/pageheader.png"); background-size: cover; background-repeat: no-repeat; background-position: right}

.vr{height: 70px; background-color: #C4C4C4; border-left: 6px solid}
.related-content a{text-decoration: none; color: grey}
.related-content a:hover {color: #FFC113}
.subtitle{font-size: 13px}
.comment-box button:hover {background-color: #FFC113; color: white; border: none} 

.services-sidemenu a{text-decoration: none; color: grey}
.services-sidemenu a:hover{text-decoration: underline}

.current-post .post1 a {text-decoration: none}
.current-post .post1 a:hover{color: #FFC113}